---
# tasks file for ansible-zeek

- name: Add zeek repo key
  apt_key:
    url: https://download.opensuse.org/repositories/security:zeek/Debian_10/Release.key
    state: present

- name: Add zeek repository into sources list
  apt_repository:
    repo: deb http://download.opensuse.org/repositories/security:/zeek/Debian_10/ /
    state: present
    update_cache: yes

- name: install dependencies 
  apt:
    pkg:
    - cmake
    - make
    - gcc
    - g++
    - flex
    - bison
    - libpcap-dev
    - libssl-dev
    - python-dev
    - swig
    - zlib1g-dev
    - sendmail
    - curl
    - google-perftools
# install python3 and pip3 for pip package support
    - python3
    - python3-venv
    - python3-pip
    - python3-setuptools

- name: install zeek
  apt:
    name: zeek-lts
    state: present

# zkg prereqs
- name: install gitpython | zkg prereqs
  pip:
    name: gitpython
    executable: pip3

- name: install semantic-version | zkg prereqs
  pip:
    name: semantic-version
    executable: pip3

# install zkg with pip and install packages
- name: install zkg
  pip:
    name: zkg
    executable: pip3
  notify: install zkg packages

# generate node config from vars
- name: load node.cfg
  become: yes
  template:
    src: node.cfg.j2
    dest: /opt/zeek/etc/node.cfg
    owner: root
    group: root
    mode: "0644"
  notify: deploy zeek

# generate networks config from vars
- name: load networks.cfg
  become: yes
  template:
    src: networks.cfg.j2
    dest: /opt/zeek/etc/networks.cfg
    owner: root
    group: root
    mode: "0644"
  notify: deploy zeek

# generate zeekctl config from vars
- name: load zeekctl.cfg
  become: yes
  template:
    src: zeekctl.cfg.j2
    dest: /opt/zeek/etc/zeekctl.cfg
    owner: root
    group: root
    mode: "0644"
  notify: deploy zeek

# generate local.zeek config from vars
- name: load local.zeek
  become: yes
  template:
    src: local.zeek.j2
    dest: /opt/zeek/share/zeek/site/local.zeek
    owner: root
    group: root
    mode: "0644"
  notify: deploy zeek