---
# tasks file for ansible-zeek

- name: Add zeek repo key
  apt_key:
    url: https://download.opensuse.org/repositories/security:zeek/Debian_10/Release.key
    state: present

- name: Add zeek repository into sources list
  apt_repository:
    repo: deb http://download.opensuse.org/repositories/security:/zeek/Debian_10/ /
    state: present
    update_cache: yes

- name: install dependencies 
  apt:
    pkg:
    - cmake
    - make
    - gcc
    - g++
    - flex
    - bison
    - libpcap-dev
    - libssl-dev
    - python-dev
    - swig
    - zlib1g-dev
    - sendmail
    - curl
    - google-perftools

- name: install zeek
  apt:
    name: zeek-lts
    state: present


# generate node config from vars
- name: load node.cfg
  become: yes
  template:
    src: node.cfg.j2
    dest: /opt/zeek/etc/node.cfg
    owner: root
    group: root
    mode: "0644"

# generate networks config from vars
- name: load networks.cfg
  become: yes
  template:
    src: networks.cfg.j2
    dest: /opt/zeek/etc/networks.cfg
    owner: root
    group: root
    mode: "0644"

# generate zeekctl config from vars
- name: load zeekctl.cfg
  become: yes
  template:
    src: zeekctl.cfg.j2
    dest: /opt/zeek/etc/zeekctl.cfg
    owner: root
    group: root
    mode: "0644"